@use "presets" as *;
@use "mixins" as *;

html {
  overflow-y: scroll;

  font-size: $font-size;
}

body {
  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  font-family: $font-header;
  font-size: 3rem;
  margin: -$gap-md 0 1em 0;
}

a {
  color: $color-primary;

  &:hover,
  &:focus {
    text-decoration: none;

    color: $color-accent;
  }
}
