@use "presets" as *;
@use "mixins" as *;

.main {
  margin-bottom: $gap-xl;
}

.site-search {
  margin-bottom: $gap * 3;
}

.user-login {
  margin-bottom: $gap * 4;
}

.new-films {
  margin-bottom: $gap-xl;

  &-row {
    padding-left: -$gap-sm;
    padding-right: -$gap-sm;
    margin-bottom: -$gap;
  }

  &-item {
    padding-left: $gap-sm;
    padding-right: $gap-sm;
    margin-bottom: $gap;

    &__thumbnail {
      margin-bottom: 0;
    }
  }
}

.film-news-item {
  margin-bottom: 0;

  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;

  &__image {
    width: 100%;
  }
  &__text {
    text-align: justify;
  }
  &__button {
    float: right;

    margin-bottom: 30px;

    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
  }
  h3 > a {
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
  }
  &:hover h3 > a {
    color: #df8a13;
  }
  &:hover .thumbnail {
    border-color: #df8a13;
    background-color: #df8a13;
  }
  &:hover .btn-warning {
    background-color: #df8a13;
  }
}

.film-info {
  font-size: 1.2em;

  &__wrapper {
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
  &__badge {
    font-size: 0.8em;
  }
  &__well {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.film-comment-form__button {
  float: right;
}
